.lg1py1 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 276px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py2 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 340px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py3 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 404px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py4 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 468px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py5 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 532px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py6 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 596px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py7 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 660px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py8 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 724px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py9 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 788px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py10 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 852px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py11 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 916px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py12 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 980px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py13 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1044px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py14 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1108px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py15 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1172px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py16 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1236px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py17 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1300px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py18 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1364px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py19 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1428px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py20 {
    background-color: white;
    filter: blur(3px);
    opacity: 0.6;
    height: 60px;
    width: 610px;
    position: absolute;
    top: 1492px;
    left: 38px;
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    overflow: auto;
}

.lg1py1,
.lg1py2,
.lg1py3,
.lg1py4,
.lg1py5,
.lg1py6,
.lg1py7,
.lg1py8,
.lg1py9,
.lg1py10,
.lg1py11,
.lg1py12,
.lg1py13,
.lg1py14,
.lg1py15,
.lg1py16,
.lg1py17,
.lg1py18,
.lg1py19,
.lg1py20 {
    display: block
}

.p1 {
    position: absolute;
    top: 275px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    z-index: 20;
    pointer-events: none;
}

.p2 {
    position: absolute;
    top: 337px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p3 {
    position: absolute;
    top: 401px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p4 {
    position: absolute;
    top: 465px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p5 {
    position: absolute;
    top: 529px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p6 {
    position: absolute;
    top: 594px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p7 {
    position: absolute;
    top: 657px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p8 {
    position: absolute;
    top: 721px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p9 {
    position: absolute;
    top: 785px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p10 {
    position: absolute;
    top: 849px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p11 {
    position: absolute;
    top: 913px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p12 {
    position: absolute;
    top: 977px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p13 {
    position: absolute;
    top: 1041px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p14 {
    position: absolute;
    top: 1105px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p15 {
    position: absolute;
    top: 1169px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p16 {
    position: absolute;
    top: 1233px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p17 {
    position: absolute;
    top: 1297px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p18 {
    position: absolute;
    top: 1361px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p19 {
    position: absolute;
    top: 1425px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

.p20 {
    position: absolute;
    top: 1489px;
    left: 53px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 20;
}

#lg1 {
    position: absolute;
    top: 273px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    z-index: 20;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

#lg2 {
    position: absolute;
    top: 337px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    z-index: 20;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#lg3 {
    position: absolute;
    top: 401px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg4 {
    position: absolute;
    top: 465px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg5 {
    position: absolute;
    top: 529px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg6 {
    position: absolute;
    top: 593px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg7 {
    position: absolute;
    top: 657px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg8 {
    position: absolute;
    top: 721px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg9 {
    position: absolute;
    top: 785px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg10 {
    position: absolute;
    top: 849px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg11 {
    position: absolute;
    top: 913px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg12 {
    position: absolute;
    top: 977px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg13 {
    position: absolute;
    top: 1041px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg14 {
    position: absolute;
    top: 1105px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg15 {
    position: absolute;
    top: 1169px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg16 {
    position: absolute;
    top: 1233px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg17 {
    position: absolute;
    top: 1297px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg18 {
    position: absolute;
    top: 1361px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg19 {
    position: absolute;
    top: 1425px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#lg20 {
    position: absolute;
    top: 1489px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'heavitas', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 20;
}

#d1,
#d2,
#d3,
#d4,
#d5,
#d6,
#d7,
#d8,
#d9,
#d10,
#d11,
#d12,
#d13,
#d14,
#d15,
#d16,
#d17,
#d18,
#d19,
#d20,
.ft1py1,
.ft2py1,
.ft3py1,
.ft4py1,
.ft5py1,
.ft6py1,
.ft7py1,
.ft8py1,
.ft9py1,
.ft10py1,
.ft11py1,
.ft12py1,
.ft13py1,
.ft14py1,
.ft15py1,
.ft16py1,
.ft17py1,
.ft18py1,
.ft19py1,
.ft20py1,
.ft1py2,
.ft2py2,
.ft3py2,
.ft4py2,
.ft5py2,
.ft6py2,
.ft7py2,
.ft8py2,
.ft9py2,
.ft10py2,
.ft11py2,
.ft12py2,
.ft13py2,
.ft14py2,
.ft15py2,
.ft16py2,
.ft17py2,
.ft18py2,
.ft19py2,
.ft20py2 {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#d1 {
    position: absolute;
    top: 294px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d2 {
    position: absolute;
    top: 358px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d3 {
    position: absolute;
    top: 422px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d4 {
    position: absolute;
    top: 486px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d5 {
    position: absolute;
    top: 550px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d6 {
    position: absolute;
    top: 614px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d7 {
    position: absolute;
    top: 678px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d8 {
    position: absolute;
    top: 742px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d9 {
    position: absolute;
    top: 806px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d10 {
    position: absolute;
    top: 870px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d11 {
    position: absolute;
    top: 934px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d12 {
    position: absolute;
    top: 998px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d13 {
    position: absolute;
    top: 1062px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d14 {
    position: absolute;
    top: 1126px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d15 {
    position: absolute;
    top: 1190px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d16 {
    position: absolute;
    top: 1254px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d17 {
    position: absolute;
    top: 1318px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d18 {
    position: absolute;
    top: 1382px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d19 {
    position: absolute;
    top: 1446px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

#d20 {
    position: absolute;
    top: 1510px;
    left: 137px;
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    z-index: 20;
}

.ft1py1 {
    position: absolute;
    top: 287px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft2py1 {
    position: absolute;
    top: 351px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft3py1 {
    position: absolute;
    top: 415px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft4py1 {
    position: absolute;
    top: 479px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft5py1 {
    position: absolute;
    top: 543px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft6py1 {
    position: absolute;
    top: 607px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft7py1 {
    position: absolute;
    top: 671px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft8py1 {
    position: absolute;
    top: 735px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft9py1 {
    position: absolute;
    top: 799px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft10py1 {
    position: absolute;
    top: 863px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.pulg1 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 296px;
    left: 47px;
    z-index: 14;
    display: none;
}

.ft11py1 {
    position: absolute;
    top: 927px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft12py1 {
    position: absolute;
    top: 991px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft13py1 {
    position: absolute;
    top: 1055px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft14py1 {
    position: absolute;
    top: 1119px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft15py1 {
    position: absolute;
    top: 1183px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft16py1 {
    position: absolute;
    top: 1247px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft17py1 {
    position: absolute;
    top: 1311px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft18py1 {
    position: absolute;
    top: 1375px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft19py1 {
    position: absolute;
    top: 1439px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.ft20py1 {
    position: absolute;
    top: 1503px;
    left: 85px;
    width: 40px;
    height: 40px;
    z-index: 29;
}

.pulg2 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 357px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg3 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 422px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg4 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 486px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg5 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 549px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg6 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 613px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg7 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 677px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg8 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 741px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg9 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 805px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg10 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 870px;
    left: 47px;
    z-index: 14;
    display: none;
}
.pulg11 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 934px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg12 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 998px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg13 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1062px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg14 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1126px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg15 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1190px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg16 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1254px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg17 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1318px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg18 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1382px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg19 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1446px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg20 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1510px;
    left: 47px;
    z-index: 14;
    display: none;
}
.tengahcrop::-webkit-scrollbar {
    display: none;
}

@media (max-width: 980px), (hover : none) {
    .lg1py1 {
        position: absolute;
        top: 450px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py2 {
        position: absolute;
        top: 570px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py3 {
        position: absolute;
        top: 690px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py4 {
        position: absolute;
        top: 810px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py5 {
        position: absolute;
        top: 930px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py6 {
        position: absolute;
        top: 1050px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py7 {
        position: absolute;
        top: 1170px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py8 {
        position: absolute;
        top: 1290px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py9 {
        position: absolute;
        top: 1410px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py10 {
        position: absolute;
        top: 1530px;
        left: 10px;
        width: 955px;
        height: 110px;
    }
    .lg1py11 {
        position: absolute;
        top: 1650px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py12 {
        position: absolute;
        top: 1770px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py13 {
        position: absolute;
        top: 1890px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py14 {
        position: absolute;
        top: 2010px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py15 {
        position: absolute;
        top: 2130px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py16 {
        position: absolute;
        top: 2250px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py17 {
        position: absolute;
        top: 2370px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py18 {
        position: absolute;
        top: 2490px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py19 {
        position: absolute;
        top: 2610px;
        left: 10px;
        width: 955px;
        height: 110px;
    }

    .lg1py20 {
        position: absolute;
        top: 2730px;
        left: 10px;
        width: 955px;
        height: 110px;
    }
    .p1,
    .p2,
    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10,
    .p11,
    .p12,
    .p13,
    .p14,
    .p15,
    .p16,
    .p17,
    .p18,
    .p19,
    .p20 {
        display: none !important;
    }

    .ft1py1 {
        top: 470px;
        height: 70px;
        width: 70px;
    }

    .ft2py1 {
        top: 590px;
        height: 70px;
        width: 70px;
    }

    .ft3py1 {
        top: 710px;
        height: 70px;
        width: 70px;
    }

    .ft4py1 {
        top: 830px;
        height: 70px;
        width: 70px;
    }

    .ft5py1 {
        top: 950px;
        height: 70px;
        width: 70px;
    }

    .ft6py1 {
        top: 1070px;
        height: 70px;
        width: 70px;
    }

    .ft7py1 {
        top: 1190px;
        height: 70px;
        width: 70px;
    }

    .ft8py1 {
        top: 1310px;
        height: 70px;
        width: 70px;
    }

    .ft9py1 {
        top: 1430px;
        height: 70px;
        width: 70px;
    }

    .ft10py1 {
        top: 1550px;
        height: 70px;
        width: 70px;
    }
    .ft11py1 {
        top: 1670px;
        height: 70px;
        width: 70px;
    }

    .ft12py1 {
        top: 1790px;
        height: 70px;
        width: 70px;
    }

    .ft13py1 {
        top: 1910px;
        height: 70px;
        width: 70px;
    }

    .ft14py1 {
        top: 2030px;
        height: 70px;
        width: 70px;
    }

    .ft15py1 {
        top: 2150px;
        height: 70px;
        width: 70px;
    }

    .ft16py1 {
        top: 2270px;
        height: 70px;
        width: 70px;
    }

    .ft17py1 {
        top: 2390px;
        height: 70px;
        width: 70px;
    }

    .ft18py1 {
        top: 2510px;
        height: 70px;
        width: 70px;
    }

    .ft19py1 {
        top: 2630px;
        height: 70px;
        width: 70px;
    }

    .ft20py1 {
        top: 2750px;
        height: 70px;
        width: 70px;
    }
    #lg1 {
        top: 440px;
        left: 170px;
        font-size: 30px;
    }

    #lg2 {
        top: 560px;
        left: 170px;
        font-size: 30px;
    }

    #lg3 {
        top: 680px;
        left: 170px;
        font-size: 30px;
    }

    #lg4 {
        top: 800px;
        left: 170px;
        font-size: 30px;
    }

    #lg5 {
        top: 920px;
        left: 170px;
        font-size: 30px;
    }

    #lg6 {
        top: 1040px;
        left: 170px;
        font-size: 30px;
    }

    #lg7 {
        top: 1160px;
        left: 170px;
        font-size: 30px;
    }

    #lg8 {
        top: 1280px;
        left: 170px;
        font-size: 30px;
    }

    #lg9 {
        top: 1400px;
        left: 170px;
        font-size: 30px;
    }

    #lg10 {
        top: 1520px;
        left: 170px;
        font-size: 30px;
    }
    #lg11 {
        top: 1640px;
        left: 170px;
        font-size: 30px;
    }

    #lg12 {
        top: 1760px;
        left: 170px;
        font-size: 30px;
    }

    #lg13 {
        top: 1880px;
        left: 170px;
        font-size: 30px;
    }

    #lg14 {
        top: 2000px;
        left: 170px;
        font-size: 30px;
    }

    #lg15 {
        top: 2120px;
        left: 170px;
        font-size: 30px;
    }

    #lg16 {
        top: 2240px;
        left: 170px;
        font-size: 30px;
    }

    #lg17 {
        top: 2360px;
        left: 170px;
        font-size: 30px;
    }

    #lg18 {
        top: 2480px;
        left: 170px;
        font-size: 30px;
    }

    #lg19 {
        top: 2600px;
        left: 170px;
        font-size: 30px;
    }

    #lg20 {
        top: 2720px;
        left: 170px;
        font-size: 30px;
    }
    #d1 {
        top: 480px;
        left: 170px;
        font-size: 25px;
    }

    #d2 {
        top: 600px;
        left: 170px;
        font-size: 25px;
    }

    #d3 {
        top: 720px;
        left: 170px;
        font-size: 25px;
    }

    #d4 {
        top: 840px;
        left: 170px;
        font-size: 25px;
    }

    #d5 {
        top: 960px;
        left: 170px;
        font-size: 25px;
    }

    #d6 {
        top: 1080px;
        left: 170px;
        font-size: 25px;
    }

    #d7 {
        top: 1200px;
        left: 170px;
        font-size: 25px;
    }

    #d8 {
        top: 1320px;
        left: 170px;
        font-size: 25px;
    }

    #d9 {
        top: 1440px;
        left: 170px;
        font-size: 25px;
    }

    #d10 {
        top: 1560px;
        left: 170px;
        font-size: 25px;
    }
    #d11 {
        top: 1680px;
        left: 170px;
        font-size: 25px;
    }

    #d12 {
        top: 1800px;
        left: 170px;
        font-size: 25px;
    }

    #d13 {
        top: 1920px;
        left: 170px;
        font-size: 25px;
    }

    #d14 {
        top: 2040px;
        left: 170px;
        font-size: 25px;
    }

    #d15 {
        top: 2160px;
        left: 170px;
        font-size: 25px;
    }

    #d16 {
        top: 2280px;
        left: 170px;
        font-size: 25px;
    }

    #d17 {
        top: 2400px;
        left: 170px;
        font-size: 25px;
    }

    #d18 {
        top: 2520px;
        left: 170px;
        font-size: 25px;
    }

    #d19 {
        top: 2640px;
        left: 170px;
        font-size: 25px;
    }

    #d20 {
        top: 2760px;
        left: 170px;
        font-size: 25px;
    }
    .pulg1 {
        left: 30px;
        top: 485px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg2 {
        left: 30px;
        top: 605px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg3 {
        left: 30px;
        top: 725px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg4 {
        left: 30px;
        top: 845px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg5 {
        left: 30px;
        top: 965px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg6 {
        left: 30px;
        top: 1085px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg7 {
        left: 30px;
        top: 1205px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg8 {
        left: 30px;
        top: 1325px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg9 {
        left: 30px;
        top: 1445px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg10 {
        left: 30px;
        top: 1565px;
        height: 45px;
        width: 45px;
        display: block;
    }
    .pulg11 {
        left: 30px;
        top: 1685px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg12 {
        left: 30px;
        top: 1805px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg13 {
        left: 30px;
        top: 1925px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg14 {
        left: 30px;
        top: 2045px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg15 {
        left: 30px;
        top: 2165px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg16 {
        left: 30px;
        top: 2285px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg17 {
        left: 30px;
        top: 2405px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg18 {
        left: 30px;
        top: 2525px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg19 {
        left: 30px;
        top: 2645px;
        height: 45px;
        width: 45px;
        display: block;
    }

    .pulg20 {
        left: 30px;
        top: 2765px;
        height: 45px;
        width: 45px;
        display: block;
    }
}
