.pulg1222 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 296px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg222 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 357px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg322 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 422px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg422 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 486px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg522 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 549px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg622{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 613px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg722 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 677px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg822 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 741px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg922 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 805px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg102 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 870px;
    left: 47px;
    z-index: 14;
    display: none;
}
.pulg112 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 934px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg122 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 998px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg132 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1062px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg142 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1126px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg152 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1190px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg162 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1254px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg172 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1318px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg182 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1382px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg192 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1446px;
    left: 47px;
    z-index: 14;
    display: none;
}

.pulg202 {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1510px;
    left: 47px;
    z-index: 14;
    display: none;
}
@media (max-width: 980px), (hover : none){
    .pulg1222{
        left: 30px;
        top: 485px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg222{
        left: 30px;
        top: 605px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg322{
        left: 30px;
        top: 725px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg422{
        left: 30px;
        top: 845px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg522{
        left: 30px;
        top: 965px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg622{
        left: 30px;
        top: 1085px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg722{
        left: 30px;
        top: 1205px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg822{
        left: 30px;
        top: 1325px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg922{
        left: 30px;
        top: 1445px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg102{
        left: 30px;
        top: 1565px;
        height: 45px;
        width: 45px;
        display: none;
    }
    .pulg112 {
        left: 30px;
        top: 1685px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg122 {
        left: 30px;
        top: 1805px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg132 {
        left: 30px;
        top: 1925px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg142 {
        left: 30px;
        top: 2045px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg152 {
        left: 30px;
        top: 2165px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg162 {
        left: 30px;
        top: 2285px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg172 {
        left: 30px;
        top: 2405px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg182 {
        left: 30px;
        top: 2525px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg192 {
        left: 30px;
        top: 2645px;
        height: 45px;
        width: 45px;
        display: none;
    }

    .pulg202 {
        left: 30px;
        top: 2765px;
        height: 45px;
        width: 45px;
        display: none;
    }
}